## Get the top 5 users with the most time spent on the web.

In [1]:
%matplotlib inline
%load_ext sql

In [20]:
import os

# sqlalchemy Imports
from sqlalchemy import (
    create_engine, MetaData, Table, select
)
from sqlalchemy.sql import func, desc
from sqlalchemy.engine import Connection
from sqlalchemy.sql.expression import join

# Graphing Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Customize Matplotlib styles
plt.style.use(['dark_background', 'seaborn-pastel'])

### Database setup.

In [8]:
# Database Constants
DB_CRED = os.getenv('DB_CRED', '')
DB_PATH = os.getenv('DB_PATH', '')
DB_FULL_PATH = 'postgres://{cred}{path}'.format(cred=DB_CRED, path=DB_PATH)
%sql $DB_FULL_PATH

'Connected: mhcpkrfcznzfwq@ddbt5r9q62hbbl'

In [9]:
# Create engine, connection & metadata object.
engine = create_engine(DB_FULL_PATH)
connection = Connection(engine).connect()
metadata = MetaData()

### Display database tables.

In [10]:
print(engine.table_names())

['alembic_version', 'account', 'host', 'time', 'host_time']

### Reflect database.

In [11]:
# Reflect all of the tables.
time = Table('time', metadata, autoload=True, autoload_with=engine)
host = Table('host', metadata, autoload=True, autoload_with=engine)
account = Table('account', metadata, autoload=True, autoload_with=engine)
host_time = Table('host_time', metadata, autoload=True, autoload_with=engine)

### Display each tables columns.

In [12]:
# Print each tables columns.
print('Print out each table columns:')
print('time table:      {columns}'.format(columns=time.columns))
print('host table:      {columns}'.format(columns=host.columns))
print('account table:   {columns}'.format(columns=account.columns))
print('host_time table: {columns}'.format(columns=host_time.columns))

Print out each table columns:
time table:      ['time.id', 'time.day', 'time.seconds', 'time.account_id']
host table:      ['host.id', 'host.host_name']
account table:   ['account.id', 'account.token']
host_time table: ['host_time.time_id', 'host_time.host_id']

### Get top 5 users based on most time spent.

In [13]:
%%sql 
SELECT account.id as users, sum(time.seconds) as seconds FROM account
JOIN time on account.id = time.account_id
GROUP BY account.id
ORDER BY seconds DESC
LIMIT 5

5 rows affected.

[(1, Decimal('737814')),
 (2, Decimal('465128')),
 (5, Decimal('346025')),
 (4, Decimal('32319')),
 (3, Decimal('6786'))]

### Query the database to get all unique visits per host name.

In [14]:
%%sql
SELECT host.host_name, count(host.host_name) as total_visits from host
JOIN host_time on host.id = host_time.host_id
GROUP BY host.host_name
HAVING count(host.host_name) > 25
ORDER BY total_visits DESC

44 rows affected.

[('newtab', 1381),
 ('google.com', 1074),
 ('localhost', 810),
 ('docs.google.com', 678),
 ('mail.google.com', 339),
 ('github.com', 334),
 ('facebook.com', 327),
 ('youtube.com', 307),
 ('stackoverflow.com', 201),
 ('pandora.com', 115),
 ('searchincognito.com', 104),
 ('vuejs.org', 91),
 ('finance.yahoo.com', 89),
 ('/Volumes', 86),
 ('la.instructure.com', 85),
 ('biology.arizona.edu', 76),
 ('zillow.com', 72),
 ('bmhjcloccoanchboaimjnpeafjnoghfi', 68),
 ('speechanddebate.org', 66),
 ('classroom.google.com', 65),
 ('chrome.google.com', 52),
 ('linkedin.com', 51),
 ('bloomberg.com', 48),
 ('battleship-app-prod.herokuapp.com', 47),
 ('drive.google.com', 46),
 ('cia.gov', 44),
 ('bpb.opendns.com', 42),
 ('getbootstrap.com', 41),
 ('ko.wikipedia.org', 41),
 ('greensock.com', 40),
 ('olui2.fs.ml.com', 39),
 ('namu.wiki', 35),
 ('en.wikipedia.org', 35),
 ('lodash.com', 32),
 ('search.mysearch.com', 32),
 ('chat.stackoverflow.com', 31),
 ('translate.google.com', 31),
 ('ziprecruiter.com', 31),
 ('/Users', 31),
 ('aohghmighlieiainnegkcijnfilokake', 30),
 ('hac.midlandps.org', 29),
 ('ushud.com', 27),
 ('rapidtables.com', 27),
 ('airbnb.com', 27)]